---
import Layout from '../layouts/Layout.astro'
import profilePic from '../images/profile-pic.png'
import project1 from '../images/project1.png'
import project2 from '../images/project2.png'
---

<Layout title='Sung Showcase'>
  <main>
    <section
      class='flex justify-center gap-4 bg-rainbow1 bg-no-repeat bg-transparent'
    >
      <div class='basis-[580px] h-[435px] flex flex-col grow-0'>
        <h1 class='text-8xl leading-79 font-blackgold'>
          Hello <br /> I am Kasira
        </h1>
        <div class='grid grid-cols-3 grow'>
          <div
            class='bg-star bg-no-repeat bg-transparent bg-top-center col-span-1'
          >
          </div>
          <p class='col-span-2 mt-5 text-xl'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            blandit lorem nibh, at egestas felis pretium sed.
          </p>
        </div>
      </div>

      <aside>
        <p class='text-xl uppercase text-center tracking-widest mb-2'>
          Portfolio
        </p>
        <figure
          class='w-[208px] h-[298px] box-border rounded-[104px] border border-black p-3'
        >
          <img src={profilePic} alt='Profile picture.' />
        </figure>
      </aside>
    </section>

    <section class='relative -top-6'>
      <div class='flex items-center'>
        <hr class='grow border border-black border-l-0 border-r-0 border-b-0' />
        <h2 class='text-5xl uppercase font-blackgold px-7'>Projects</h2>
        <hr class='grow border border-black border-l-0 border-r-0 border-b-0' />
      </div>

      <!-- region project1  -->
      <article class='flex justify-center items-center gap-28 mt-28'>
        <figure class='border border-black basis-[357px] h-[267px] p-2'>
          <img src={project1} alt='Project 1' />
        </figure>
        <article class='basis-[246px] my-auto'>
          <h3 class='font-blackgold text-4xl mb-7'>01 Skinique</h3>
          <p>An application for create a skincare routine as unique as you.</p>
        </article>
      </article>
      <!-- region project1 end -->

      <!-- region project2  -->
      <article
        class='flex flex-row-reverse justify-center items-center gap-28 mt-28'
      >
        <figure class='border border-black basis-[357px] h-[267px] p-2'>
          <img src={project2} alt='Project 2' />
        </figure>
        <article class='basis-[246px] my-auto'>
          <h3 class='font-blackgold text-4xl mb-7'>02 Skinique</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            blandit lorem nibh, at egestas felis pretium sed.
          </p>
        </article>
      </article>
      <!-- region project2 end -->
    </section>
  </main>
</Layout>
