---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Sung Showcase'>
  <main>
    <section
      class='flex flex-wrap justify-center gap-4 bg-rainbow1 bg-no-repeat bg-transparent'
    >
      <div class='basis-[580px] h-[500px] flex flex-col grow-0'>
        <h1 class='text-8xl leading-79 font-blackgold'>
          Hello <br /> I am Kasira
        </h1>
        <div class='grid grid-cols-3 grow'>
          <div
            class='bg-star bg-no-repeat bg-transparent bg-top-center col-span-1'
          >
          </div>
          <div class='col-span-2 mt-5 text-xl'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            blandit lorem nibh, at egestas felis pretium sed.
          </div>
        </div>
      </div>

      <aside>
        <p class='text-xl uppercase text-center tracking-widest mb-2'>
          Portfolio
        </p>
        <figure
          class='w-[208px] h-[298px] box-border rounded-[104px] border border-black'
        >
          <img src='' alt='' />
        </figure>
      </aside>
    </section>
  </main>
</Layout>
