---
import clsx from 'clsx'

export interface Props {
  step: string
  title: string
  caption: string
  className: string
}

const { step, title, caption, className } = Astro.props
---

<div
  class={clsx(
    'flex flex-col gap-5 items-center relative rounded-[32px] px-5 pb-2 xl:px-8 xl:pb-5 box-border h-[200px] bg-p',
    className
  )}
>
  <div
    class='step bg-white text-xl xl:text-2xl text-center relative top-0 w-20 h-10'
  >
    {step}
  </div>
  <div class='text-xl xl:text-2xl font-semibold'>{title}</div>
  <div class='text-lg xl:text-xl text-center'>{caption}</div>
</div>

<style>
  .step {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
</style>
