---
import clsx from 'clsx'

export interface Props {
  step: string
  title: string
  caption: string
  className: string
}

const { step, title, caption, className } = Astro.props
---

<div
  class={clsx(
    'flex flex-col items-center justify-center relative rounded-[32px] px-5 pb-2 box-border h-[180px]',
    className
  )}
>
  <div class='step bg-white text-center absolute top-0 w-20 h-10'>
    {step}
  </div>
  <div class='text-center'>
    <div class='font-semibold'>{title}</div>
    <div class='text-center'>{caption}</div>
  </div>
</div>

<style>
  .step {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
</style>
