---
export interface Props {}
import empathyMap from '../images/empathy-map.png'
---

<div class='p-8 rounded-3xl bg-purple-100 mx-auto'>
  <img src={empathyMap} alt='Empathy map' class='w-full' />
</div>
