---
export interface Props {}
---

<div class='p-16 rounded-[54px] bg-sky'>
  <div
    class='grid grid-cols-12 rounded-[54px] border border-black bg-white text-lg xl:text-2xl font-mitr'
  >
    <div class='col-span-5 p-10'>
      <p>
        Name : น้ำหวาน <br />
        Interview Date : 29 August 2022 <br />
        Time : 8 pm.
      </p>
    </div>
    <div class='col-span-7 p-10'>
      <p>
        User Detail : <br />
        นักศึกษาจบใหม่ สถาปัตยกรรมสาตร์ มหาวิทยาลัยเชียงใหม่ <br />
      </p>
    </div>

    <div class='col-span-5 left-cell'>
      <div class='flex flex-col gap-5'>
        <div
          class='py-2 px-10 bg-black text-white h-10 w-fit rounded-[32px] box-border grid place-content-center'
        >
          Questions
        </div>
        <p>1. รู้จักสภาพผิวตัวเองไหม อย่างไร</p>
      </div>
    </div>
    <div class='col-span-7 right-cell'>
      <div class='flex flex-col gap-5'>
        <div
          class='py-2 px-10 bg-black text-white h-10 w-fit rounded-[32px] box-border grid place-content-center'
        >
          Answers
        </div>
        <p>
          รู้ว่าตัวเองเป็นผิวผสม จากการเสิร์ช Google แต่เคยเข้าใจผิด
          คิดว่าเป็นคนผิวมัน
        </p>
      </div>
    </div>

    <div class='col-span-5 left-cell'>
      <p>2. ช่วยเล่าขั้นตอนการบำรุงผิว เช้า - เย็น ของตัวเองให้ฟังหน่อย</p>
    </div>
    <div class='col-span-7 right-cell'>
      <p>
        เช้า : โฟมล้างหน้า เซรั่ม กันแดดเฉพาะตอนออกจากบ้าน <br />
        เย็น: โฟมล้างหน้า เซรั่ม (ขาด moisturizer)
      </p>
    </div>

    <div class='col-span-5 left-cell'>
      <p>3. มีเกณฑ์อะไรในการตัดสินใจซื้อสกินแคร์</p>
    </div>
    <div class='col-span-7 right-cell'>
      <p>ads ของผลิตภัณฑ์ ส่วนผสม รีวิว ราคา</p>
    </div>

    <div class='col-span-5 left-cell'>
      <p>4. มีประสบการณ์ที่ใช้สกินแคร์ผิดๆไหม ช่วยเล่าให้ฟังหน่อย</p>
    </div>
    <div class='col-span-7 right-cell'>
      <p>
        เคยไม่รู้ว่าสกินแคร์บางตัวมีส่วนผสมที่ใช้ร่วมกันไม่ได้
        เรียงลำดับการใช้สกินแคร์ไม่ถูก
      </p>
    </div>

    <div class='col-span-5 left-cell'>
      <p>5. ค่าใช้จ่ายเฉลี่ยของสกินแคร์ต่อเดือนเท่าไหร่</p>
    </div>
    <div class='col-span-7 right-cell'>
      <p>ชิ้นละไม่เกิน 500 บาท ประมาณ 2000 บาท/เดือน</p>
    </div>

    <div class='col-span-5 left-cell'>
      <p>6. ปกติซื้อสกินแคร์จากแหล่งไหน เพราะอะไร</p>
    </div>
    <div class='col-span-7 right-cell'>
      <p>ซื้อจากหน้าราน เพราะได้ลองเทสเตอร์ก่อน</p>
    </div>

    <div class='col-span-5 left-cell'>
      <p>
        7. เคยซื้อสกินแคร์ออนไลน์ไหม, ใช้ app/ platform อะไร
        มีปัญหาเรื่องการใช้งานไหม
      </p>
    </div>
    <div class='col-span-7 right-cell'>
      <p>
        เคยซื้อจาก shopee เรื่องการจ่ายเงินที่ต้องผูกกับแอพรู้สึกยุ่งยาก
        การใช้โค้ดส่วนลด
      </p>
    </div>

    <div class='col-span-5 left-cell'>
      <p>
        8. มีความคิดยังไงถ้ามีแอพที่ช่วยแนะนำและ จัดการ skincare routine ให้เรา
      </p>
    </div>
    <div class='col-span-7 right-cell'>
      <p>
        คิดว่าดีช่วยแก้ปัญหาเรื่องการเรียงลำดับสกินแคร์
        กับหลีกเลี่ยงสกินแคร์ที่ส่วนผสมไม่เข้ากัน
      </p>
    </div>
  </div>

  <style>
    .left-cell {
      padding: 24px 40px;
      border-top: 1px solid black;
      border-right: 1px solid black;
    }

    .right-cell {
      padding: 24px 40px;
      border-top: 1px solid black;
    }
  </style>
</div>
