---
export interface Props {
  lists: string[]
  highlight?: boolean
}

import clsx from 'clsx'
const { lists, highlight } = Astro.props
---

<div
  class={clsx(
    'rounded-3xl h-[180px] text-sm xl:text-base p-4',
    highlight ? 'bg-purple-300 font-nunito' : 'bg-white font-mitr'
  )}
>
  <ul>
    {
      lists.map((list) => (
        <li class='list-inside list-disc'>{list}</li>
      ))
    }
  </ul>
</div>
