---
import appUI1 from '../images/app_ui_1.png'
import appUI2 from '../images/app_ui_2.png'
import appUI3 from '../images/app_ui_3.png'
import appUI4 from '../images/app_ui_4.png'

export interface Props {}
---

<div class='mb-14'>
  <p class='mx-auto w-2/3 text-center font-mitr'>
    หน้าเริ่มต้นสำหรับผู้ใช้งานครั้งแรกสามารถเลือกลงทะเบียนผ่าน Google, Facebook
    และ Apple
    หลังจากนั้นตอบแบบสอบถามเกี่ยวกับสภาพผิวซึ่งผู้ใช้สามารถข้ามขั้นตอนนี้ก่อนได้
  </p>
</div>

<div class='mb-14 grid place-content-center'>
  <img src={appUI1} alt='App UI 1' />
</div>

<div class='mb-14'>
  <p class='mx-auto w-2/3 text-center font-mitr'>
    หลังจากนั้นรอให้ระบบประมวลผลข้อมูลเกี่ยวกับสภาพผิวผู้ใช้
    ก่อนจะรายงานผลออกมาเป็น Skin analysis report
    รวมถึงสร้างรายการสกินแคร์และลำดับขั้นตอนการใช้ทั้งช่วงเช้าและกลางคืน
  </p>
</div>

<div class='mb-14 grid place-content-center'>
  <img src={appUI2} alt='App UI 2' />
</div>

<div class='mb-14'>
  <p class='mx-auto w-2/3 text-center font-mitr'>
    กด Continue เพื่อเข้าสู่หน้าหลัก มีเคล็ดลับต่างๆ เกี่ยวกับสกินแคร์,
    ผลิตภัณฑ์ที่เหมาะกับปัญหาผิวผู้ใช้ และ ผลิตภัณฑ์ที่กำลังเป็นที่นิยม หน้า
    Routine ประกอบด้วยปฏิทิน, ลำดับสกินแคร์ที่แนะนำสำหรับผู้ใช้ (กด +
    เพื่อเพิ่มหรือแก้ไขรายการ) และบันทึกสภาพผิวประจำวัน
  </p>
</div>

<div class='mb-14 grid place-content-center'>
  <img src={appUI3} alt='App UI 2' />
</div>

<div class='mb-14'>
  <p class='mx-auto w-2/3 text-center font-mitr'>
    หน้าผลิตภัณฑ์มีการจำแนกเป็นประเภทต่างๆ
    สามารถค้นหาผลิตภัณฑ์ที่ต้องการและเพิ่มตัวกรองในการค้นหาได้
    กดที่รูปผลิตภัณฑ์เพื่อดูรายละเอียดอื่นๆ เพิ่มเติมสามารถเพิ่มเข้ารายการโปรด
    ,เพิ่มใน Routine และเพิ่มลงรถเข็น
  </p>
</div>

<div class='mb-14 grid place-content-center'>
  <img src={appUI4} alt='App UI 2' />
</div>
