---
import PainPointCard from './PainPointCard.astro'
import painPoint1 from '../images/pain-point-1.png'
import painPoint2 from '../images/pain-point-2.png'
import painPoint3 from '../images/pain-point-3.png'
import painPoint4 from '../images/pain-point-4.png'

export interface Props {}
---

<div class='mt-14 grid grid-flow-row grid-cols-2 max-lg:grid-cols-1 gap-5'>
  <PainPointCard
    n='01'
    content='ซื้อสกินแคร์ออนไลน์จาก หลายร้านทำให้ต้องเสียค่า ส่งหลายครั้ง'
    imgSrc={painPoint1}
  />
  <PainPointCard
    n='02'
    imgSrc={painPoint2}
    content='เลือกใช้สกินแคร์ไม่ตรงกับ สภาพผิวและปัญหาผิวที่มีทำให้รู้สึกไม่เห็นผล'
  />
  <PainPointCard
    n='03'
    imgSrc={painPoint3}
    content='เรียงลำดับการใช้สกินแคร์ ไม่ถูกต้อง ไม่รู้ว่าต้องใช้อะไร ก่อนหลัง'
  />
  <PainPointCard
    n='04'
    imgSrc={painPoint4}
    content='ใช้สกินแคร์ไม่สม่ำเสมอ ทำให้ไม่เห็นผลลัพธ์ที่ต่อเนื่อง'
  />
</div>
