---
export interface Props {
  content: string
  imgSrc: any
  n: string
}

const { imgSrc, content, n } = Astro.props
---

<article class='py-4 px-5 rounded-xl bg-white shadow-lg'>
  <div class='flex gap-5'>
    <img src={imgSrc} alt='Pain point 1' height='150' width='150' />
    <div class='flex flex-col justify-between'>
      <div
        class='p-1 bg-black text-white flex items-center justify-center rounded-2xl w-16 h-fit box-border'
      >
        {n}
      </div>
      <p class='font-mitr'>
        {content}
      </p>
    </div>
  </div>
</article>
