---
export interface Props {}
---

<div class='mb-14 grid grid-cols-2'>
  <div class='col-span-1'>
    <div class='text-2xl mb-6'>Research Goals</div>
    <ul class='font-mitr'>
      <li class='list-inside list-disc'>
        ทำความเข้าใจเกี่ยวกับสภาพผิว ปัญหาผิว และการทำงานของสกินแคร์
      </li>
      <li class='list-inside list-disc my-6'>
        ทำความเข้าใจสิ่งที่ผู้ใช้ให้ความสนใจในการเลือกซื้อสกินแคร์
      </li>
      <li class='list-inside list-disc'>
        ทำความเข้าใจเกี่ยวกับประสบการณ์การใช้สกินแคร์ของผู้ใช้
      </li>
    </ul>
  </div>
  <div class='col-span-1'>
    <div class='text-2xl mb-6'>Research Questions</div>
    <ul class='font-mitr'>
      <li class='list-inside list-disc'>
        ผู้ใช้ทำความเข้าใจเกี่ยวกับสภาพผิวตัวเองและสกินแคร์ได้อย่างไร
      </li>
      <li class='list-inside list-disc my-6'>
        ผู้ใช้มีเกณฑ์อะไรในการตัดสินใจซื้อสกินแคร์
      </li>
      <li class='list-inside list-disc'>
        ผู้ใช้มีประสบการณ์การใช้สกินแคร์อย่างไร
      </li>
    </ul>
  </div>
</div>
