---
import skiniqueLogo from '../../images/skinique-logo.png'
import Layout from '../../layouts/Layout.astro'
import roleIllustrator from '../../images/role-illus.svg'
import projectTimeIllustrator from '../../images/project-time-illus.svg'
import toolsUsedIllustrator from '../../images/tools-used-illus.svg'
import InterviewTable from '../../components/InterviewTable.astro'
import DesignProcess from '../../components/DesignProcess.astro'
import PainPoints from '../../components/PainPoints.astro'
import EmpathyMap from '../../components/EmpathyMap.astro'
---

<Layout title='Skinique - Project'>
  <section
    class='h-screen box-border w-full bg-purple-100 pt-10 px-14 grid grid-cols-4'
  >
    <div class='flex flex-col text-orange col-span-2'>
      <img class='h-[108px] w-[108px]' src={skiniqueLogo} alt='Skinique logo' />
      <div class='mt-auto mb-20'>
        <h1 class='text-[128px] font-arima capitalize'>Skinique</h1>
        <p class='text-3xl'>Create a skincare routine as unique as you.</p>
      </div>
    </div>
    <div
      class='col-span-2 bg-iphoneMockup bg-transparent bg-no-repeat bg-contain bg-bottom'
    >
    </div>
  </section>

  <section class='mt-28'>
    <h1 class='text-6xl text-center text-orange font-semibold'>
      Roles & Responsibilities
    </h1>
    <div class='flex gap-20 justify-center items-center mt-14'>
      <article class='flex flex-col items-center gap-4'>
        <img src={roleIllustrator} alt='Role illustrator' />
        <div class='text-center w-full'>
          <div class='text-3xl font-semibold'>My Role</div>
          <div class='text-2xl'>Ux/Ui Designer</div>
        </div>
      </article>
      <article class='flex flex-col items-center gap-5'>
        <img
          class='w-[350px]'
          src={projectTimeIllustrator}
          alt='Project time illustrator'
        />
        <div class='text-center w-full'>
          <div class='text-3xl font-semibold'>Project time</div>
          <div class='text-2xl'>September 2022</div>
        </div>
      </article>
      <article class='flex flex-col items-center gap-4'>
        <img src={toolsUsedIllustrator} alt='Tools used illustrator' />
        <div class='text-center w-full'>
          <div class='text-3xl font-semibold'>Tool used</div>
          <div class='text-2xl'>Figma</div>
        </div>
      </article>
    </div>
  </section>

  <section class='mt-28'>
    <h1 class='text-6xl text-center text-orange font-semibold'>Pain Points</h1>
    <PainPoints />
  </section>

  <section class='mt-28'>
    <div class='grid grid-cols-2 px-24'>
      <div
        class='col-span-1 bg-iphoneMockup2 bg-transparent bg-no-repeat bg-contain bg-center'
      >
      </div>
      <div class='col-span-1'>
        <h1 class='text-orange font-semibold text-6xl text-center'>
          What is Skinique?
        </h1>

        <div
          class='py-10 px-16 mt-6 bg-white rounded-[54px] text-lg xl:text-2xl'
        >
          <ul class='app-definitions font-mitr'>
            <li>รวบรวมผลิตภัณฑ์บำรุงผิวต่างๆ ไว้ในแอพเดียว</li>
            <li>
              ช่วยให้คุณสามารถเลือก Skincare ให้ตรงกับสภาพผิวและปัญหาผิวต่างๆ
              ได้อย่างตรงจุด
            </li>
            <li>
              ช่วยคุณจัด Skincare Routine เรียงลำดับขั้นตอนการใช้ได้อย่างถูกต้อง
            </li>
            <li>
              บันทึกและติดตามผลลัพธ์การใช้งานในแต่ละวันช่วยให้
              เห็นถึงความเปลี่ยนแปลงของสภาพผิวอย่างต่อเนื่อง
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class='mt-28'>
    <div class='px-24'>
      <h1 class='text-orange font-semibold text-6xl text-center'>
        Design Process
      </h1>
      <DesignProcess />
    </div>
  </section>

  <section class='mt-28'>
    <div class='px-24'>
      <h1 class='text-orange font-semibold text-6xl text-left'>
        User Interview
      </h1>
      <div class='mt-14'>
        <InterviewTable />
      </div>
    </div>
  </section>

  <section class='mt-28'>
    <div class='px-24'>
      <h1 class='text-orange font-semibold text-6xl text-left'>Empathy map</h1>
      <div class='mt-14'>
        <EmpathyMap />
      </div>
    </div>
  </section>

  <style>
    .app-definitions {
      list-style-type: '\2713';
    }

    .app-definitions li {
      text-indent: 10px;
    }

    .app-definitions li:not(:last-child) {
      margin-bottom: 2.25rem;
    }
  </style>
</Layout>
