---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.cdnfonts.com/css/blackgold?styles=43042'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-beige font-jamjuree text-black mx-10'>
    <header>
      <nav>
        <ul
          class='h-28 list-none flex w-[980px] mx-auto justify-start items-center'
        >
          <li class='basis-32 text-center uppercase tracking-widest'>Resume</li>
          <li class='basis-32 text-center uppercase tracking-widest'>
            Projects
          </li>
          <li class='basis-32 text-center uppercase tracking-widest'>
            Contact
          </li>
        </ul>
      </nav>
    </header>
    <slot />
  </body>
</html>
