---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.cdnfonts.com/css/blackgold?styles=43042'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-beige font-jamjuree text-black overflow-x-hidden'>
    <header>
      <nav>
        <ul
          class='h-28 list-none flex w-[980px] max-sm:w-auto mx-auto justify-start max-sm:justify-around items-center'
        >
          <li class='basis-32 text-center uppercase tracking-widest'>Resume</li>
          <li
            class='basis-32 text-center uppercase tracking-widest hover:font-extrabold'
          >
            <a href='#projects'> Projects</a>
          </li>
          <li
            class='basis-32 text-center uppercase tracking-widest hover:font-extrabold'
          >
            <a href='#contact'> Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <slot />
  </body>
</html>
