---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.cdnfonts.com/css/blackgold?styles=43042'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>Resume</li>
          <li>Projects</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary: #f4f1e9;
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: 'Bai Jamjuree', sans-serif;
    color: #191919;
    background-color: var(--primary);
  }

  body, p {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'BlackGold', sans-serif;
	margin: 0;
  }

  ul {
    margin: 0;
  }

  nav > ul {
    height: 116px;
    list-style: none;
    display: flex;
    align-items: center;
  }

  nav > ul li {
    flex-basis: 125px;
    text-transform: uppercase;
  }

  nav > ul li:last-child {
    flex-grow: 1;
  }
</style>
